<!doctype html>
<html>
<head>	
<title>Garden Tracker</title>
<!--
<link rel="stylesheet" href="/css/style.css">
-->
<link rel="stylesheet" type="text/css" href="/css/simple.css" >
<link rel="stylesheet" type="text/css" href="/css/pure-min.css" >
<script src="editablegrid_validators.js"></script>
<script src={{jsscript}}></script>
</head>

<body>

<div id="wrap">
	<header>

		<div class="header">
			<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="http://52.36.73.75:3000/" class="pure-menu-link">Home</a></li>
					<li class="pure-menu-item"><a href="http://52.36.73.75:3000/seeds" class="pure-menu-link">Seeds</a></li>
					<li class="pure-menu-item"><a href="http://52.36.73.75:3000/beds" class="pure-menu-link">Beds</a></li>
					<li class="pure-menu-item"><a href="http://52.36.73.75:3000/family" class="pure-menu-link">family</a></li> 
					<li class="pure-menu-item"><a href="http://52.36.73.75:3000/month" class="pure-menu-link">month</a></li> 
					<li class="pure-menu-item"><a href="http://52.36.73.75:3000/planted" class="pure-menu-link">planted</a></li> 
					<li class="pure-menu-item"><a href="http://52.36.73.75:3000/affects" class="pure-menu-link">affects</a></li> 
				</ul>
			</div>
		</div>


		<div>
			<h1>---</h1>
			<h1>Garden Tracker</h1>
			<h2>{{header}}</h2>
		</div>
	</header>

	<section>
		<article>
		<span>Message: <span id="messages"></span></span>
		</article>
		<article>
		<div id="userinput"></div>
		</article>
		<article>
		<div class="testgrid" id="tablecontent"></div>
		</article>
		<article>
		<div id="update"></div>
		</article>
	</section>

	<footer> 2017 OSU </footer>
</div>

</body>
</html>

<!--
<h1 class="OK">Hello {{name}} Here is your To Do List!</h1>
<h2>You have {{toDoCount}} items on your to do list.</h2>

<form method="post">
  <input type="text" name="name" id="toDoName">
  <input type="text" name="city" id="toDoName">
  <input type="text" name="temp" id="toDoName">
  <input type="submit" name="Add Item" value="Add Item">
</form>

{{#if toDo}}
<ul>
  {{#each toDo}}
  <li>
    <h3 class="{{this.className}}"> 
			{{this.name}} {{this.city}} {{this.temp}}</h3>
    <form method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="submit" name="Done" value="Mark as Done">
    </form>
  </li>
  {{/each}}
</ul>
{{/if}}
-->

